ul.TabContainer{display:block;list-style-type:none;margin:0;padding:0;background-color:#ffffff;border:solid 1px darkgray;}
ul.TabContainer>li:first-child{list-style-type:none;margin:0;padding:0;display:block;}
ul.TabContainer li.TabPage{list-style-type:none;margin:0;padding:0;display:none;padding:1em;}
ul.TabContainer li.TabPage.ActiveTab{display:block;}
ul.TabContainer>li:first-child>ul.TabButtonBar{list-style-type:none;display:block;width:auto;padding:0;text-align:center;margin:auto;position:relative;top:-12px;}
ul.TabContainer>li:first-child>ul.TabButtonBar>li{background:#c4c4c4;cursor:pointer;display:inline-block;margin:0;padding:.25em .5em;}
ul.TabContainer>li:first-child>ul.TabButtonBar>li{border-top:solid 1px #7f7f7f;border-bottom:solid 1px #7f7f7f;border-left:solid 1px #7f7f7f;}
ul.TabContainer>li:first-child>ul.TabButtonBar>li:first-child{border-left:solid 1px rgba(127, 127, 127, 0.5);}
ul.TabContainer>li:first-child>ul.TabButtonBar>li:last-child{border-right:solid 1px rgba(127, 127, 127, 0.5);}
ul.TabContainer>li:first-child>ul.TabButtonBar>li:not(.ActiveTab):hover{background:#1369e0;color:#ffffff;}
ul.TabContainer>li:first-child>ul.TabButtonBar>li:not(.ActiveTab):active{background:#1347e0;color:#ffffff;}
ul.TabContainer>li:first-child>ul.TabButtonBar>li.ActiveTab{color:#ffffff;background:#0040c0;}
