.DirectoryBrowser {
	margin: 0;
	padding: 0;
	padding: 1em;
	border-radius: .5em;
	box-shadow:  inset 2px 2px 8px rgba(127,127,127,.5)
				,2px 2px 8px rgba(127,127,127,.25);
}
.DirectoryBrowser .selected {
	background: rgb(0, 64, 196);
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 0 2px rgba(127, 127, 127, 1);
	border-radius: .5em;
}

.DirectoryBrowser .file-representation {
	display: inline-block;
	padding: .5em;
}